/*body*/
body{background-color: white;margin:25px auto; width:1100px;font:16px "微軟正黑體", Arial;}

/*aHeader*/
.aHeader{background-color: #ffc200;max-height: 100px;padding-left: 40px}
.aHeader:before{display: inline-block;content: "";height: 100px;width: 100px;background-color: white;}
.img-profilo{display: inline-block;width: 124px;height: 124px;border-radius: 50%;margin-top:-14.5px;border-width:2px; border-style:solid;}
.h1-tit{display: inline-block;vertical-align: top;margin:-5px 0 0 0;font-size:50px; font-weight: bold;}
.h1-tit span{display: block;font-size: 30px;font-weight: bold; margin:-15px 0 0 -3px;}
.h6-desc{margin: -35px 0 0 127px;letter-spacing:1.3px;}
.bProfile{display: inline-block;vertical-align:top;margin-left: -80px;}
.bInfo{display: inline-block;vertical-align: middle;float: right;width:55%;}
.bInfo ul{list-style-type: none;padding: 0;}
.li-info{display: inline-block;margin: 6px 20px;width:40%;}
.li-info:before {display: inline-block;content:"";background-color: black;width: 20px;height: 20px;border-radius: 50%}
.li-info a{vertical-align: top;margin-left: 3px;text-decoration:none;}

/*aMainer*/
.aMainer{margin-top: 25px}
.img-cont{display: inline-block;width: 40px;height: 40px;margin-top: -5px;margin-left:-20px;border-radius: 50%;border-width:0.1px; border-style:solid;}
.h4-stit{display: inline-block;vertical-align: top;margin:5px auto auto 25px;font-weight: bold;letter-spacing: 5px}
.c-head{background-color: #ffc200;max-height: 30px;margin-left: 20px;}
.bContent{display: inline-block;width: 37%;vertical-align:top;margin-left: 50px;}
.bContent:nth-child(even){width: 53.5%;}
.bContent:nth-child(even) .c-desc .d-space{width: 90%;}
.c-desc{margin:30px auto;line-height: 25px}
.d-space{margin-bottom: 40px}
.d-space h1,h2,h3,h4{margin:0px;}
.d-space h1{display: inline-block;vertical-align:top;font-size: 16px;}
.d-space h2{display: inline-block;vertical-align:top;font-size: 12px;color: #AAAAAA;margin-left: 220px}
.d-space h3{font-size: 14px;}
.d-space h4{font-size: 12px;color: #AAAAAA;word-spacing:3px;}
.bContent:nth-child(4) .d-space h2{display: inline-block;vertical-align:top;font-size: 12px;color: #AAAAAA;margin-left: 200px}
.bContent:nth-child(3) {margin-top:-30px;}
.bContent:nth-child(5) {margin-top:-220px;}

/*.aFooter*/
.aFooter{background-color: black;padding-top: 60px;}
.aFooter .bContent-1 .c-head:before{display: inline-block; content:"" ;background-color: #ffc200;height: 30px;width: 25px;margin-left: -70px;vertical-align: top;}
.aFooter .bContent-1 .c-head .img-cont{margin-left: 20px;}
.aFooter .bContent-1 .c-desc{margin-left: 20px;}
.aFooter .bContent-1 .c-desc h1,h2,h3{margin:0px;}
.aFooter .bContent-1 .c-desc h1{font-size: 16px;letter-spacing: 1.8px;color:white;}
.aFooter .bContent-1 .c-desc h2{font-size: 14px;margin-top:-5px;color:white;}
.aFooter .bContent-1 .c-desc h3{font-size: 12px;color: #AAAAAA;margin: 10px auto;word-spacing:3px;}
.aFooter .bContent-2 .c-desc .d-space{display:inline-block;width: 40%;margin-right:40px;margin-left:10px;color:white;}
.aFooter .bContent-2 .c-desc .d-space span{display:block;font-size: 12px;color: #AAAAAA;margin: 10px auto;word-spacing:3px;}