/*body*/
body{background-color: white;margin:25px auto; width:1100px;font:16px "微軟正黑體", Arial;}

/*aHeader*/
.aHeader{background-color: #ffc200;max-height: 100px;padding-left: 40px}
.aHeader:before{display: inline-block;content: "";height: 100px;width: 100px;background-color: white;}
.img-profilo{display: inline-block;width: 124px;height: 124px;border-radius: 50%;margin-top:-14.5px;border-width:2px; border-style:solid;}
.h1-tit{display: inline-block;vertical-align: top;margin:-5px 0 0 0;font-size:50px; font-weight: bold;}
.h1-tit span{display: block;font-size: 30px;font-weight: bold; margin:-15px 0 0 -3px;}
.h6-desc{margin: -35px 0 0 127px;letter-spacing:1.3px;}
.bProfile{display: inline-block;vertical-align:top;margin-left: -80px;}
.bInfo{display: inline-block;vertical-align: middle;float: right;width:55%;}
.bInfo ul{list-style-type: none;padding: 0;}
.li-info{display: inline-block;margin: 6px 20px;width:40%;}
.li-info:before {display: inline-block;content:"";background-color: black;width: 20px;height: 20px;border-radius: 50%}
.li-info a{vertical-align: top;margin-left: 3px;text-decoration:none;}

/*aMainer*/
.aMainer{margin-top: 25px}
.img-cont{display: inline-block;width: 40px;height: 40px;margin-top: -5px;margin-left:-20px;border-radius: 50%;border-width:0.1px; border-style:solid;}
.h4-stit{display: inline-block;vertical-align: top;margin:5px auto auto 25px;font-weight: bold;letter-spacing: 5px}
.c-head{background-color: #ffc200;max-height: 30px;margin-left: 20px;}
.bContent{display: inline-block;width: 37%;vertical-align:top;margin-left: 50px;}
.bContent:nth-child(1){text-align: justify;}
.bContent:nth-child(even){width: 53.5%;}
.bContent:nth-child(even) .c-desc .d-space{width: 90%;}
.c-desc{margin:30px auto;line-height: 25px}
.d-space{margin-bottom: 40px}
.d-space h1,h2,h3,h4{margin:0px;}
.d-space h1{display: inline-block;vertical-align:top;font-size: 16px;}
.d-space h2{display: inline-block;vertical-align:top;font-size: 12px;color: #AAAAAA;margin-left: 220px}
.d-space h3{font-size: 14px;}
.d-space h4{font-size: 12px;color: #AAAAAA;word-spacing:3px;}
.bContent:nth-child(4) .d-space h2{display: inline-block;vertical-align:top;font-size: 12px;color: #AAAAAA;margin-left: 200px}
.bContent:nth-child(3) {margin-top:-30px;}
.bContent:nth-child(5) {margin-top:-220px;}

/*.aFooter*/
.aFooter{background-color: black;padding-top: 60px;}
.aFooter .bContent-1 .c-head:before{display: inline-block; content:"" ;background-color: #ffc200;height: 30px;width: 25px;margin-left: -70px;vertical-align: top;}
.aFooter .bContent-1 .c-head .img-cont{margin-left: 20px;}
.aFooter .bContent-1 .c-desc{margin-left: 20px;}
.aFooter .bContent-1 .c-desc h1,h2,h3{margin:0px;}
.aFooter .bContent-1 .c-desc h1{font-size: 16px;letter-spacing: 1.8px;color:white;}
.aFooter .bContent-1 .c-desc h2{font-size: 14px;margin-top:-5px;color:white;}
.aFooter .bContent-1 .c-desc h3{font-size: 12px;color: #AAAAAA;margin: 10px auto;word-spacing:3px;}
.aFooter .bContent-2 .c-desc .d-space{display:inline-block;width: 40%;margin-right:40px;margin-left:10px;color:white;}
.aFooter .bContent-2 .c-desc .d-space span{display:block;font-size: 12px;color: #AAAAAA;margin: 10px auto;word-spacing:3px;}

/*.aExtender*/
.ul-profile-show{list-style-type: none;padding: 0;position: relative;width: 1100px;height: 496px;}
.ul-profile-show:hover>.li-profile-show {opacity:0.4;filter:alpha(opacity=40);}
.ul-profile-show:hover>.li-profile-show01:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/DdU93qk.jpg')}
.ul-profile-show:hover>.li-profile-show02:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/cHSV2Vs.jpg')}
.ul-profile-show:hover>.li-profile-show03:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/cIdH9Yk.jpg')}
.ul-profile-show:hover>.li-profile-show04:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/Hma2lwI.jpg')}
.ul-profile-show:hover>.li-profile-show05:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/KY4tB9w.jpg')}
.ul-profile-show:hover>.li-profile-show06:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/z5SUMDj.jpg')}
.ul-profile-show:hover>.li-profile-show07:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/dm3iL8A.jpg')}
.ul-profile-show:hover>.li-profile-show08:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/o3hv6pa.jpg')}
.ul-profile-show:hover>.li-profile-show09:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/2hUM5gv.jpg')}
.ul-profile-show:hover>.li-profile-show10:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://i.imgur.com/YDiNl2C.jpg')}
.ul-profile-show:hover>.li-profile-show11:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://driver.cool3c.com/files/32/20130122052428.png')}
.ul-profile-show:hover>.li-profile-show12:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://stickershop.line-scdn.net/stickershop/v1/sticker/12894422/android/sticker.png')}
.ul-profile-show:hover>.li-profile-show13:hover {opacity:1;filter:alpha(opacity=100);background-image:url('https://pic.pimg.tw/lailion/1367919378-1790696141.jpg')}
.li-profile-show{position: absolute;transition: all 0.3s linear;background: no-repeat;}
.li-profile-show01{left: 95px;background-image:url('https://i.imgur.com/fqPIUlq.jpg');width: 910px; height: 100px;background-size: 910px 100px;}
.li-profile-show02{left: 95px;top: 105px;background-image:url('https://i.imgur.com/vpe0qr3.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show03{left: 400px;top: 105px;background-image:url('https://i.imgur.com/ZhvmeTG.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show04{left: 705px;top: 105px;background-image:url('https://i.imgur.com/X7B3qzi.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show05{left: 95px;top: 410px;background-image:url('https://i.imgur.com/kMpJ63k.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show06{left: 400px;top: 410px;background-image:url('https://i.imgur.com/GA3DEjV.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show07{left: 705px;top: 410px;background-image:url('https://i.imgur.com/8lSq7Wg.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show08{left: 95px;top: 715px;background-image:url('https://i.imgur.com/5KYv6AR.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show09{left: 400px;top: 715px;background-image:url('https://i.imgur.com/s6ttPVp.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show10{left: 705px;top: 715px;background-image:url('https://i.imgur.com/1JsYpLs.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show11{left: 95px;top: 1070px;background-image:url('https://i.imgur.com/3Ok1ptv.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show12{left: 400px;top: 1070px;background-image:url('https://i.imgur.com/sIUT4c9.jpg');width: 300px; height: 300px;background-size: 300px 300px;}
.li-profile-show13{left: 705px;top: 1070px;background-image:url('https://i.imgur.com/HkrXqrY.jpg');width: 300px; height: 300px;background-size: 300px 300px;}