body {font-family: "Helvetica Neue", Arial;}
a { display: inline-block;vertical-align: top;}

/*.aHeader*/
.aHeader{height: 84px; background-color: white; position: relative;}

/*.bLogo*/
.aHeader .bLogo {display:inline-block; vertical-align: top;}
.aHeader .Ink-logo{text-decoration: none; color: #007bff; letter-spacing: 4px;  font-size: 20px;  line-height: 53px; margin:0px 16px; padding: 5px 10px;}

/*.bNav*/
.aHeader .bNav {display:inline-block; vertical-align: top;margin-left: 40px;}
.aHeader .bNav .ul-nav {list-style-type: none; padding: 0px; margin:16px auto;}
.aHeader .bNav .ul-nav .li-nav .ul-subNav {list-style-type: none; padding: 0px; display: none;}
.aHeader .bNav .ul-nav .li-nav{display: inline-block; vertical-align: top;}
.aHeader .bNav .ul-nav .li-nav .Ink-nav {color: #555; line-height: 30px; font-size: 17px; letter-spacing: 1px; text-decoration: none; padding: 0 8px}
.aHeader .bNav .ul-nav .li-nav .ul-subNav .li-subNav .Ink-subNav {color: #555; text-decoration: none; font-size: 14px;line-height: 30px; padding-left: 15px; display: inline-block;}
.aHeader .bNav .ul-nav .li-nav .ul-subNav .li-subNav:hover {background-color: #007bff;}
.aHeader .bNav .ul-nav .li-nav .ul-subNav .li-subNav:hover .Ink-subNav {color:white;}
.aHeader .bNav .ul-nav .li-nav .ul-subNav {-webkit-box-shadow: 0px 0px 30px 0px #DDDDDD; box-shadow: 0px 0px 30px 0px #DDDDDD; border-radius: 10px; padding:0px 0px 10px 0px; background-color: white;}
.aHeader .bNav .ul-nav .li-nav .ul-subNav:before { display: block; content: ""; width: 0; height: 0; border-style: solid; border-width: 0 7px 10px 7px; border-color: transparent transparent #ffffff transparent; position: relative; top: -10px; left: 19px;}
.aHeader .bNav .ul-nav .li-nav.active .ul-subNav { display: block;}

/*.bSearch*/
.aHeader .bSearch { position: absolute; right: 45px; top: 0px;}
.aHeader .bSearch .ipt-search{border-top-style: none; border-left-style: none; border-right-style: none; height: 44px;  outline: none; background-image: url(imgs/search.png); background-size: 18px; background-repeat: no-repeat; background-position: left; padding-left: 30px;}

/*.aBanner*/
.aBanner{background:url(imgs/dog3.jpg) no-repeat; background-size: 100%; width:100%;height: 700px;text-align: center;}

/*.bTits*/
.aBanner .bTits{text-align: center;padding-top: 150px;}
.aBanner .bTits .h1-tit{margin: 0px; font-size:80px; color:#AAAAAA;}

/*.bVideo*/
.aBanner .bVideo {margin: 40px auto 0; height: 80px; }
.aBanner .bVideo .lnk-video {text-decoration:none; color:#AAAAAA; display: inline-block; background-color: white; width: 60px; height: 60px; border-radius: 50%; line-height: 60px; transition: all 0.2s ease;}
.aBanner .bVideo .lnk-video:hover {width: 80px; height: 80px; line-height: 80px;margin-top: -10px;transition: all 0.2s ease;}
.aBanner  span {display: block; color:#FFFFFF; margin-top: 40px;}

/*.aMainer*/
.aMainer {padding-top: 80px;}
.aMainer .ul-nav {list-style-type:none; padding: 0px;text-align: center;}
.aMainer .ul-nav .li-nav {display: inline-block; width: 180px;margin:auto 30px;}
.aMainer .ul-nav .li-nav .h6-tits {font-size:20px;margin-bottom: 10px;}
.aMainer .ul-nav .li-nav .p-desc {line-height: 25px;color: #555;}
.aMainer .ul-nav .li-nav .cube-square {display:inline-block; border:3px solid #007bff; border-radius: 10px;width: 100px; height: 100px; margin:auto; transform:rotate(45deg);}
.aMainer .ul-nav .li-nav .cube-square .square{background: url(imgs/dog_small.jpeg) center no-repeat; vertical-align:top; display:inline-block; width: 70px; height: 70px; padding: 5px; transform:rotate(-45deg);margin-left: -10px;}